@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
body .other-cities .other-container, body .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  background: white;
  overflow: hidden;
  border-radius: 1.5rem;
  transform: 0.6s ease-out;
  padding: 2.5rem 3rem;
}

body .other-cities .other-container .other-weather-box, body .container .weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

body .other-cities .other-container .other-weather-box .other-description, body .container .weather-box .description {
  font-size: 2.2rem;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
}

body .other-cities .other-container .other-weather-box .other-temperature, body .container .weather-box .temperature {
  font-size: 5rem;
  font-weight: 800;
  color: black;
}

body .other-cities .other-container .other-details, body .container .details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

body {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
body .container {
  position: relative;
  height: 10rem;
  margin-top: 3rem;
  transition: height 1s;
}
body .container .search-box {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .container .search-box i {
  position: absolute;
  color: black;
  font-size: 2.8rem;
}
body .container .search-box input {
  color: black;
  width: 80%;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 3rem;
}
body .container .search-box input::-moz-placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}
body .container .search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}
body .container .search-box button {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  color: black;
  background-color: #dff6ff;
  border-radius: 5rem;
  font-size: 2.2rem;
  transition: 0.4 ease;
}
body .container .search-box button:hover {
  color: #dff6ff;
  background: black;
}
body .container .error {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  scale: 0;
  opacity: 0;
  display: none;
}
body .container .error img {
  width: 70%;
}
body .container .error p {
  color: black;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1.2rem;
}
body .container .weather-box {
  scale: 0;
  opacity: 0;
}
body .container .weather-box img {
  width: 60%;
}
body .container .details {
  scale: 0;
  opacity: 0;
}
body .container .details .humidity {
  font-size: 2rem;
}
body .container .details .humidity .title {
  text-align: center;
}
body .container .details .humidity .text span {
  margin-left: 0.4rem;
  font-weight: 600;
}
body .container .details .wind {
  font-size: 2rem;
}
body .container .details .wind .title {
  text-align: center;
}
body .container .details .wind .text span {
  margin-left: 0.4rem;
  font-weight: 600;
}
body .container .fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
body .other-cities {
  width: 100%;
  position: absolute;
  top: 20rem;
  display: flex;
  justify-content: space-evenly;
  transition: top 1s;
}
body .other-cities .other-container {
  height: 55rem;
  margin-bottom: 3rem;
}
body .other-cities .other-container .other-city-name {
  display: flex;
}
body .other-cities .other-container .other-city-name i {
  font-size: 2.8rem;
  margin-top: 0.2rem;
}
body .other-cities .other-container .other-city-name h5 {
  font-size: 2.4rem;
  font-weight: 500;
  padding-left: 0.8rem;
  text-transform: capitalize;
}
body .other-cities .other-container .other-weather-box img {
  width: 60%;
}
body .other-cities .other-container .other-details .other-humidity {
  font-size: 2rem;
}
body .other-cities .other-container .other-details .other-humidity .title {
  text-align: center;
}
body .other-cities .other-container .other-details .other-humidity .text span {
  margin-left: 0.4rem;
  font-weight: 600;
}
body .other-cities .other-container .other-details .other-wind {
  font-size: 2rem;
}
body .other-cities .other-container .other-details .other-wind .title {
  text-align: center;
}
body .other-cities .other-container .other-details .other-wind .text span {
  margin-left: 0.4rem;
  font-weight: 600;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
  body .other-cities {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}/*# sourceMappingURL=style.css.map */